.main{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}
.divMain{
    width: 80%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.title{
    color: var(--dark-gray);
    font-size: 3rem;
}

#titleMain{
    display: flex;
    align-items: center;
}

.subTitle{
    color: var(--gray);
    font-size: 17.5px;
    margin-top: .5rem;
    margin-bottom: 1.5rem;
}

#fucusTitile{
    background-color: var(--dark-gray);
    color: var(--yellow);
    border-radius: 4px;
    font-size: 36px;
    padding: 0px 5px;
    margin-left: 8px;
}

.btnStart{
    background-color: var(--dark-gray);
    padding: 10px;
    text-decoration: none;
    cursor: pointer;
    margin-top: 1.5rem;
    border: none;
    color: var(--white);
    border-radius: 4px;
    font-size: 16px;
    transition: 0.3s;
}

.btnStart:hover{
    color: var(--yellow);
}

.imgCosts {
    width: 400px;
}

@media screen and (max-width: 998px) {
    .divMain{
        display: block;
        margin: 0 50%;
        padding: 2rem 0;
    }
    #titleMain{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .btnStart{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 3rem;
    }
}

@media screen and (max-width: 498px) {
    .main{
        background-color: yellow;
    }
    .imgCosts{
        width: 300px;
    }
    .title{ 
        font-size: 28px;
    }
}