.main{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}
.divMain{
    width: 80%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.title{
    color: #E4B981;
    font-size: 45px;
}

#titleMain{
    color: #5C55C2;
    margin-top: -1rem;
}

.subTitle{
    color: var(--gray);
    font-size: 15px;
}

.btnStart{
    background-color: none;
    padding: 5px;
    margin-top: 1.5rem;
    border: 2px solid #5C55C2;
    color: #171535;
    border-radius: 5px;
    font-size: 16px;
}