.newProject {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.newProjectContainer {
    width: 450px;
    width: 400px;
    height: 450px;
    padding: 1rem;
    background-color: var(--white);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 10px;
}

.newProjectContainer h1{
    margin-bottom: 0.5rem;
    color: var(--dark-gray);
}

.newProjectContainer p{
    color: var(--black);
}

.form {
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.form p{
    color: var(--dark-gray);
    margin: .5rem 0;
}

.form input{
    border: none;
    outline: none;
    box-shadow: rgba(0, 0, 0, 0.267) 0px 0px 0px 1px, rgb(209, 213, 219) 0px 0px 0px 1px inset;
    padding: 10px;
    border-radius: 5px;
    color: var(--gray);
}
.form select{
    border: none;
    outline: none;
    box-shadow: rgba(0, 0, 0, 0.267) 0px 0px 0px 1px, rgb(209, 213, 219) 0px 0px 0px 1px inset;
    padding: 10px;
    border-radius: 5px;
    color: var(--gray);
}

