.navbar {
    width: 100%;
    height: 15vh;
    padding: 1rem;
    background-color: var(--dark-gray);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    padding: 4px;
}

.menu {
    color: white;
    width: 30vw;
    padding: 5px;
    display: flex;
    justify-content: space-between;
    background-color: tomato;
   
}

.link {
    color: var(--white);
    text-decoration: none;
    transition: .3s;
}

.link:hover {
    color: var(--yellow);
}

.icon {
    color: white;
}