.navbar {
    background-color: var(--dark-gray);
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 5px 20px;
}

.logoImg{
    width: 55px;
}
.menu{
    width: 30vw;
    display: flex;
    justify-content: space-between;
}

.link{
    color: var(--white);
    text-decoration: none; 
    border-bottom: 1px solid var(--dark-gray);
    transition: 0.3s
}

.link:hover{
    color: var(--yellow);
    border-bottom: 1px solid var(--yellow);
}