.navbar {
    background-color: var(--white);
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 5px 20px;
}

.logoImg{
    width: 55px;
}
.menu{
    width: 30vw;
    display: flex;
    justify-content: space-between;
}

.link{
    color: var(--gray);
    text-decoration: none; 
}