.footer{
    background-color: var(--dark-gray);
    height: 25vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footerText{
    color: var(--white);
    display: flex;
    justify-content: center;
}

.footerText span{
    color: var(--yellow);
    margin-right: 5px;
}

.socialIcons {
    display: flex;
    justify-content: center;
    padding: 20px ;
}

.icons {
    color: var(--white);
    font-size: 25px;
    margin: 0 10px;
    cursor: pointer;
    transition: 0.1s;
}

.icons:hover {
    color: var(--yellow);
}
