*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

:root{
  --white: #ffffff;
  --background: #eee5e5;
  --dark-gray: #1f1e1e;
  --yellow: #fbbc34
}

html, body, #root{
  background-color: var(--background);
  height: 100vh;
}