*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

:root{
  --white: #ffffff;
  --background: #f1efef;
  --dark-gray: #292727;
  --black: #141414;
  --gray: #4e4e4e;
  --yellow: #fbbc34
}

html, body, #root{
  background-color: var(--background);
  height: 100vh;
}